div .vis-custom-time {
    background-color: #f00;
}

div .record {
    font-size: 14pt;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    border-radius: 25px;
    border: 2px solid #000;
}

div .recordscroll {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: auto;
    max-width: 100%;
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
    overflow-x: scroll;
}

pre > .recordcode {
    font-size: 12pt;
}
